name: trigger-all-bucket
region: us-east-1
capabilities:
 - CAPABILITY_IAM
Parameters:
  EssentialsStackName: essentials
  ControlAccount: all
  Purpose: bucket
  BuildProject: provision-cross-account
  CapabilityIAMNeeded: false
  CapabilityNamedIAMNeeded: false
  RecreateStack: false
  ExcludeAccount: none