functions:
  -
    CodeBuild-role:
    trigger-builds-listener:
    create-CloudTrail-bucket-policy:
    fan-out-trigger-build:
      - trigger-logging-CloudTrail-bucket
      - trigger-all-CloudTrail
      - trigger-identity-active-directory
      - trigger-identity-cam
      - trigger-other-sub-account-cam

